<%- include("html/ini-html"); %>
    <%- include("html/cabecario"); -%>
        <div class="container" style=" min-width: 90%;">
            <div class="row">
                <div class="col">
                    <h4>O que é coronavírus?</h4>

                    Coronavírus (CID10) é uma família de vírus que causam infecções respiratórias. O novo agente do coronavírus foi descoberto em 31/12/19 após casos registrados na China. Provoca a doença chamada COVID-19. Como nunca tivemos contato com o vírus antes, não
                    temos imunidade.Ela causa uma infecção pulmonar. Nos casos mais leves, porém, parece um resfriado comum ou uma gripe leve. Os primeiros coronavírus humanos foram isolados pela primeira vez em 1937. No entanto, foi em 1965 que o vírus
                    foi descrito como coronavírus, em decorrência do perfil na microscopia, parecendo uma coroa. A maioria das pessoas se infecta com os coronavírus comuns ao longo da vida, sendo as crianças pequenas mais propensas a se infectarem com
                    o tipo mais comum do vírus. Os coronavírus mais comuns que infectam humanos são o alpha coronavírus 229E e NL63 e beta coronavírus OC43, HKU1.
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>Período de incubação do coronavírus</h4>

                    Período de incubação é o tempo que leva para os primeiros sintomas aparecerem desde a infecção por coronavírus, que pode ser de 2 a 14 dias.
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4> Como o coronavírus é transmitido?</h4>

                    A transmissão acontece de uma pessoa doente para outra ou por contato próximo por meio de: O toque do aperto de mão é a principal forma de contágio Gotículas de saliva Espirro Tosse Catarro Objetos ou superfícies contaminadas como celulares, mesas, maçanetas,
                    brinquedos e teclados de computador etc.
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>Quais são os sintomas do coronavírus?</h4>

                    Os sintomas mais comuns são: Febre E Tosse OU Dificuldade para respirar Entre outros sintomas gripais Se aparecerem os sintomas ligue para 136 ou procure um posto de saúde.
                </div>
                <div class="row">
                    <div class="col">
                        <span> font: https://coronavirus.saude.gov.br/</span>
                    </div>
                </div>
            </div>
        </div>
        </main>

        <%- include("html/rodape"); -%>

            <%- include("html/fim-html"); -%>