<%- include("html/ini-html"); %>

    <%- include("html/cabecario"); -%>
        <main>
            <div style="overflow: auto; ">
                <div class="row">
                    <div class="s12 m12 l12">
                        <canvas id="myChart" style="width: 1350px;height: 980px;"></canvas>
                    </div>
                </div>
            </div>

        </main>
        <%- include("html/rodape"); -%>

            <%- include("html/fim-html"); -%>