<%- include("html/ini-html"); %>

    <%- include("html/cabecario"); -%>
        <main>

            <canvas id="myChart"></canvas>

        </main>
        <%- include("html/rodape"); -%>

            <%- include("html/fim-html"); -%>