<%- include("html/ini-html"); %>

    <%- include("html/cabecario"); -%>

        <main>
            <div class="container" style=" min-width: 90%;">
                <div class="row">
                    <div class="col">

                        <h4>Comparativo entre doenças respiratórias</h4>
                        <img class="responsive-img" src="./imagens/quadro-sintomas-popula----o-geral-01abr20-1.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>Como se proteger</h4>

                        <p> Lave com frequência as mãos até a altura dos punhos, com água e sabão ou então higienize com álcool em gel 70%. Ao tossir ou espirrar, cubra nariz e boca com lenço ou com o braço, e não com as mãos. Evite tocar olhos, nariz e boca
                            com as mãos não lavadas. Ao tocar, lave sempre as mãos como já indicado. Mantenha uma distância mínima cerca de 2 metros de qualquer pessoa tossindo ou espirrando. Evite abraços, beijos e apertos de mãos. Adote uma onda amigável
                            sem contato físico, mas sempre com sorriso no rosto. Higienize com frequência o celular e brinquedos das crianças. Não compartilhe objetos de uso pessoal, como talheres, toalhas, pratos e copos. Evite aglomerações e mantenha
                            os ambientes limpos e bem ventilados. Se estiver doente, evite contato físico com outras pessoas, principalmente, idosos e doentes crônicos e fique em casa até melhorar. Durma bem, tenha uma alimentação saudável e faça atividade
                            física.
                        </p>
                    </div>
                </div>
                <div class="row center-align" id="itenprenv">
                    <div class="col s6 m2 l2 itensprenv">
                        <img class="responsive-img" src="./imagens/img1-maos.png" alt="">
                        <p>Lave as mãos com água e sabão.</p>
                    </div>
                    <div class="col s6 m2 l2 itensprenv">
                        <img class="responsive-img" src="./imagens/img2-tosse.png" alt="">
                        <p>Cubra o nariz e boca ao espirrar ou tossir.</p>
                    </div>
                    <div class="col s6 m2 l2 itensprenv"> <img class="responsive-img" src="./imagens/img3-pessoas.png" alt="">
                        <p>Evite aglomerações se estiver doente.</p>
                    </div>
                    <div class="col s6 m2 l2 itensprenv"> <img class="responsive-img" src="./imagens/img4-janela.png" alt="">
                        <p>Mantenha os ambientes bem ventilados.</p>
                    </div>
                    <div class="col s6 m2 l2 itensprenv"> <img class="responsive-img" src="./imagens/img5-objetos.png" alt="">
                        <p>Não compartilhe objetos pessoais.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h4> Adianta tomar vacina contra a gripe?</h4>

                        Não, mas evita que a pessoa tenha outros tipos de doenças respiratórias. Busque orientação de como vacinar em segurança. Em caso de fila, mantenha uma distância de, pelo menos, 2 metros dos demais, principalmente os idosos. Informe-se se na sua cidade
                        haverá uma estratégia de vacinação diferenciada. Ligue 136 ou entre em contato com a Secretaria de Saúde da sua cidade.
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>Quem corre mais risco?</h4>

                        Pessoas acima dos 60 anos e aquelas com doenças crônicas, como diabetes e doenças cardiovasculares. Esse público não deve viajar nem frequentar cinemas, shopping, shows e outros locais com aglomerações. A orientação é FICAR EM CASA. Caso utilize medicamento
                        de uso contínuo, entre em contato com seu médico ou peça para algum familiar ir até o posto de saúde para buscar uma receita com validade ampliada, principalmente no período de outono e inverno. Isso reduz o trânsito desnecessário
                        nos postos de saúde e farmácias.
                        <h4>Já existe tratamento contra o coronavírus (COVID-19)?</h4>

                        Não. Os médicos tratam os sintomas para evitar o agravamento da doença e reduzir o desconforto.
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <span> font: https://coronavirus.saude.gov.br/</span>
                    </div>
                </div>
            </div>
        </main>
        <%- include("html/rodape"); -%>

            <%- include("html/fim-html"); -%>