<nav>
    <div class="nav-wrapper light-blue accent-3">
        <a href="#" class="brand-logo">Covid-19</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if (pg=="lista") {%>

                <li><a href="/tabela">tabela covid-19</a></li>
                <li><a href="/informacoes">informacoes</a></li>
                <li><a href="/prevencao">prevencao</a></li>

                <%}else if (pg=="tabela") {%>

                    <li><a href="/lista">grafico covid-19</a></li>
                    <li><a href="/informacoes">informacoes</a></li>
                    <li><a href="/prevencao">prevencao</a></li>

                    <% }else if(pg=="informacoes"){ %>

                        <li><a href="/tabela">tabela covid-19</a></li>
                        <li><a href="/lista">grafico covid-19</a></li>
                        <li><a href="/prevencao">prevencao</a></li>

                        <%  }else if(pg=="prevencao"){ %>
                            <li><a href="/tabela">tabela covid-19</a></li>
                            <li><a href="/lista">grafico covid-19</a></li>
                            <li><a href="/informacoes">informacoes</a></li>

                            <%}else{%>

                                <%}%>

        </ul>
    </div>
</nav>