<nav>
    <div class="nav-wrapper light-blue accent-3">
        <a href="#" class="brand-logo">Covid-19</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if (pg=="lista") {%>


                <li><a href="/tabela">tabela covid-19</a></li>

                <%   } else {%>

                    <li><a href="/lista">grafico covid-19</a></li>

                    <%  } %>


        </ul>
    </div>
</nav>