<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">contato</h5>
                <p class="grey-text text-lighten-4"><a href=”mailto:seuemail@exemplo.com”>paulo@email.com</a></p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links uteis</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">tabela covid-19</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            © 2014 Copyright paulo sergio
        </div>
    </div>
</footer>